[Unit]
Description=Runners Pangolin reencrypt service (%i)
After=syslog.target network.target

[Service]
Type=forking
User=%i
Group=%i

Environment="PGDATA={{ redefined_pgdata }}"
Environment="PG_PLUGINS_PATH={{ PGHOME }}/lib"
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p {{ pg_auth_reencrypt_files.pid_dir }}
ExecStartPre=/bin/chown postgres:kmadmin_pg {{ pg_auth_reencrypt_files.pid_dir }}
ExecStartPre=/bin/chmod g+rw {{ pg_auth_reencrypt_files.pid_dir }}
ExecStartPost=/bin/sleep 1

TimeoutSec=5
TimeoutStopFailureMode=terminate
ExecStart={{ pg_auth_reencrypt_files.bin_path }} -l2 -d

PIDFile={{ pg_auth_reencrypt_files.pid_dir }}/pangolin_reencrypt_%i.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target