- name: Find custom config file
  stat:
    path: "{{ custom_config }}"
  register: stat_custom_config
  become: no
  delegate_to: localhost

- name: Assert if custom config file not found
  assert:
    that: stat_custom_config.stat.exists
    fail_msg: "File {{ custom_config }} was not found"
    success_msg: "File {{ custom_config }} was found"

- name: Assert that custom_config file path include '/' symbol
  assert:
    that: custom_config.split('/')|length > 1
    fail_msg: "{{ custom_config }}: file path not include '/' symbol"
    success_msg: "{{ custom_config }}: file path include '/' symbol"

- name: Import custom parameters if exists
  include_vars:
    file: "{{ custom_config }}"
  no_log: "{{ nolog }}"
