ETCD_NAME="{{ ansible_hostname }}"
ETCD_LISTEN_CLIENT_URLS="{{ protocol }}://0.0.0.0:{{ ports.etcd_inner }}"
ETCD_ADVERTISE_CLIENT_URLS="{{ protocol }}://{{ ansible_fqdn }}:{{ ports.etcd_inner }}"
ETCD_LISTEN_PEER_URLS="{{ protocol }}://0.0.0.0:{{ ports.etcd_external }}"
ETCD_INITIAL_ADVERTISE_PEER_URLS="{{ protocol }}://{{ ansible_fqdn }}:{{ ports.etcd_external }}"
ETCD_INITIAL_CLUSTER_TOKEN="etcd_{{ clustername }}"
ETCD_INITIAL_CLUSTER="{%for name in groups%}{% if installation_type in name %}{%for host in groups[name]%}{{ hostvars[host]['ansible_hostname'] }}={{ protocol }}://{{ hostvars[host]['ansible_fqdn'] }}:{{ ports.etcd_external }}{% if not loop.last %},{% endif %}{%endfor%}{%endif%}{%endfor%}"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_DATA_DIR="{{ etcd_files.data_dir }}"
ETCD_ELECTION_TIMEOUT="{{ etcd_timeout }}"
ETCD_HEARTBEAT_INTERVAL="{{ etcd_interval }}"
ETCD_ENABLE_V2="true"
{% if ssl_mode %}
# TLS settings
ETCD_CIPHER_SUITES="{{ etcd_ciphers_suits }}"
ETCD_TRUSTED_CA_FILE="{{ pg_certs_pwd.root_ca }}"
ETCD_CERT_FILE="{{ pg_certs_pwd.server_cert }}"
ETCD_KEY_FILE="{{ pg_certs_pwd.server_key }}"
ETCD_PEER_TRUSTED_CA_FILE="{{ pg_certs_pwd.root_ca }}"
ETCD_PEER_CERT_FILE="{{ pg_certs_pwd.server_cert }}"
ETCD_PEER_KEY_FILE="{{ pg_certs_pwd.server_key }}"
ETCD_PEER_CLIENT_CERT_AUTH="true"
ETCD_PEER_CRL_FILE="{{ crl_file }}"
{% endif %}