[Unit]
Description=Apache Kafka service
After=local-fs.target network.service

[Service]
WorkingDirectory={{ kafka_install_dir }}
Type=simple
User={{ kafka_user }}
Group={{ kafka_user }}
ExecStartPre=/bin/sleep 10
ExecStart={{ kafka_install_dir }}/bin/kafka-server-start  {{ kafka_install_dir }}/etc/kafka/server.properties
ExecStop={{ kafka_install_dir }}/bin/kafka-server-stop
LimitNOFILE=512000
LimitNPROC=512000
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
