[template]
prefix = "/service/{{ clustername }}"
owner = "{{ ansible_user }}"
mode = "0644"
src = "haproxy.tmpl"
dest = "/etc/haproxy/haproxy.cfg"
{% raw %}
check_cmd = "/usr/sbin/haproxy -c -f {{ .src }}"
{% endraw %}
reload_cmd = "haproxy -f /etc/haproxy/haproxy.cfg -p {{ haproxy_files.pid_dir }}/haproxy.pid -D -sf $(cat {{ haproxy_files.pid_dir }}/haproxy.pid)"
  
keys = [
    "/members/"
]