[template]
prefix = "/service/{{ clustername }}"
owner = "postgres"
mode = "0644"
src = "pgbouncer.tmpl"
dest = "{{ pgbouncer_files.conf_dir }}/pgbouncer.ini"

reload_cmd = "systemctl restart pgbouncer.service"

keys = [
    "/members/","/leader"
]