
╔══════════════════════════════════════════════════════════════════════════════╗
║................................ Status ......................................║
╠══════════════════════════════════════════════════════════════════════════════╣
╠══════════════════════════════════════════════════════════════════════════════╣
{% for host in hostvars %}
{% if hostvars[host].cep_status is defined %}
║ Host: {{(host+" ").ljust(71, ".")}}║
╠═══════════════════════════════════╦══════════════════════════════════════════╣
║............... App ...............║................. Status .................║
{% for key in hostvars[host].cep_status %}
╠═══════════════════════════════════╬══════════════════════════════════════════╣
║ {{(key+" ").ljust(34, ".")|capitalize}}║ {{(hostvars[host].cep_status[key]+" ").ljust(41, ".")}}║
{% endfor %}
╠═══════════════════════════════════╩══════════════════════════════════════════╣
{% endif %}
{% endfor %}
╚══════════════════════════════════════════════════════════════════════════════╝
