#!/bin/bash
set -e
export PYTHONPATH="{{ python.postgresql_venv }}/lib/python3.6/site-packages/"
export PGHOME="{{ PGHOME }}/"
export PATH="${PATH}:{{ python.postgresql_venv }}/bin:{{ PGHOME }}/bin/"
export LD_LIBRARY_PATH="{{ PGHOME }}/lib"
export PG_PLUGINS_PATH="{{ PGHOME }}/lib"

action=$1
  {{ manage_backup_bin }}/{{ src_bin_version }}_manage_backup.bin --host 127.0.0.1  -p {{ ports.pg }} -U backup_user -d postgres -B /{{ PGBACKUP.split('/').1 }}/{{ pg_major_version }} --session-id=$SESSIONID $action
if [ $? = 0 ] && [ "$action" == "start" ]; then
    {{ manage_backup_bin }}/{{ src_bin_version }}_manage_backup.bin --host 127.0.0.1 -p {{ ports.pg }} -U backup_user -d postgres -B /{{ PGBACKUP.split('/').1 }}/{{ pg_major_version }} --start-timeout=600 --session-id=$SESSIONID wait-start
fi
