[defaults]
forks = 20
fact_caching = jsonfile
fact_caching_connection = cache.json
gathering = smart
host_key_checking = False
any_errors_fatal = True
precedence = all_plugins_play, all_inventory, all_plugins_inventory, groups_plugins_play, groups_inventory, groups_plugins_inventory
display_skipped_hosts = False
conditional_bare_variables = False

# Ignore python compatibility warning at startup
deprecation_warnings = False

[inventory]
enable_plugins = script, ini, yaml

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path = %(directory)s/%%h-%%r
pipelining = true