##################  my_nginx.conf.j2 ######################
user  {{ nginx_user }};
worker_processes  1;

error_log  {{ nginx_log_dir }}/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
    use epoll;
    multi_accept on;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '\$remote_addr - \$remote_user [\$time_local] "\$request" '
                      '\$status \$body_bytes_sent "\$http_referer" '
                      '"\$http_user_agent" "\$http_x_forwarded_for"';

    access_log  {{ nginx_log_dir }}/access.log  main;
	
	include {{ install_dir }}/upstreams/*.conf;

    sendfile       on;
    tcp_nopush     on;

    keepalive_timeout  65;
    client_max_body_size 50m;

    #gzip  on;
    reset_timedout_connection on;
    client_body_timeout 20;

    server {
        listen *:{{nginx_http_port}};

        listen *:{{nginx_https_port}} ssl;
        ssl_certificate     {{ install_dir }}/cert/nginx-selfsigned.crt;
        ssl_certificate_key {{ install_dir }}/cert/nginx-selfsigned.key;

    	include {{ install_dir }}/sites-available/*.conf;
    }
	
# SSL
#   server {
#                 server_name _443;
#                 listen *:8443 ssl;
#                 ssl_certificate /opt/nginx/cert/nginx.pem;
#                 ssl_certificate_key /opt/nginx/cert/nginx.key;
#                 ssl_client_certificate "/opt/nginx/cert/trust.union.crt";
#                 access_log /opt/nginx/logs/ssl.access.log;
#                 access_log on;
#                 error_log /opt/nginx/logs/ssl.error.log debug;
#                 root /opt/nginx/html;
#
#                             include /opt/nginx/sites-available/*.conf;
#    }

}
