install_dir:   "{{ install_dir | default('not set') }}"
nginx_log_dir:   "{{ nginx_log_dir | default('not set') }}"
nginx_user:   "{{ nginx_user | default('not set') }}"
nginx_user_pwd:   "{{ nginx_user_pwd  | default('not set')}}"
nginx_group:   "{{ nginx_group  | default('not set')}}"
nginx_http_port:   "{{ nginx_http_port | default('not set') }}"
nginx_https_port:   "{{ nginx_https_port | default('not set') }}"
