[Unit]
Description=Receiving for WAL stream

[Service]
Type=simple
User=postgres
Group=postgres

Environment="PG_PLUGINS_PATH={{PGHOME_OLD}}/lib"
Environment="LD_LIBRARY_PATH={{PGHOME_OLD}}/lib"
Environment="PGSSLCERT={{ pg_certs_pwd.postgres_cert }}"
Environment="PGSSLKEY={{ pg_certs_pwd.postgres_key }}"
Environment="PGSSLROOTCERT={{ pg_certs_pwd.root_ca }}"

WorkingDirectory={{ PGHOME_OLD }}
ExecStart=/bin/bash -i -c "{{ PGHOME_OLD }}/bin/pg_receivewal -h 127.0.0.1 -p {{ PGPORT_OLD }} -U postgres -D {{ backup.pg_probackup_bak_dir }}/pg_probackup/wal/{{ clustername }}/ -v --no-loop --synchronous"

[Install]
WantedBy=multi-user.target