---
# task with confd installation and configuration
- name: check pgbouncer had installed
  service_facts:

- name: Write shell profile file
  lineinfile:
    path: "{{ shell_profile_file }}"
    insertafter: EOF
    line: 'export PATH=$PATH:{{ confd_files.path_dir }}/bin'
    state: present
  become: true
  become_user: postgres

- block:

  - name: create confd systemd file
    copy:
      src: confd.service
      dest: "{{ service_path_dir }}/confd.service"
      owner: root
      group: root
      mode: 0644

  - name: register new daemon
    command:
      cmd: "systemctl daemon-reload"

  - name: stop confd service
    service:
      name: confd
      state: stopped

  - name: ensure confd directory exist
    file:
      path: "{{ item }}"
      state: directory
      owner: postgres
      group: postgres
      mode: 0700
    with_items:
      - "{{ confd_files.conf_dir }}/"
      - "{{ confd_files.path_dir }}/bin/"
      - "{{ confd_files.conf_dir }}/conf.d/"
      - "{{ confd_files.conf_dir }}/templates/"

  - name: copy confd distr to remote hosts
    copy:
      src: "{{ local_distr_path }}/3rdparty/confd/confd-0.16.0-linux-amd64"
      dest: "{{ confd_files.path_dir }}/bin/confd"
      mode: a+x
    
  - name: create confd config file
    template:
      src: pgbouncer.toml.j2
      dest: "{{ confd_files.conf_dir }}/conf.d/pgbouncer.toml"
      owner: postgres
      group: postgres
      mode: 0600

  - name: create confd template file
    template:
      src: pgbouncer.tmpl.j2
      dest: "{{ confd_files.conf_dir }}/templates/pgbouncer.tmpl"
      owner: postgres
      group: postgres
      mode: 0600

  # - name: create haproxy config file
  #   template:
  #     src: haproxy.toml.j2
  #     dest: "{{ confd_files.conf_dir }}/conf.d/haproxy.toml"
  #     owner: root
  #     group: root
  #     mode: 0644
  #     ignore_errors: yes

  # - name: create haproxy template file
  #   template:
  #     src: haproxy.tmpl.j2
  #     dest: "{{ confd_files.conf_dir }}/templates/haproxy.tmpl"
  #     owner: root
  #     group: root
  #     mode: 0644
  #     ignore_errors: yes

  become: true

- name: start confd service and enable
  service:
    name: confd
    state: started
    enabled: yes
  become: true
