force added
dict:::postgresql:::data_dir
dict:::postgresql:::bin_dir
dict:::postgresql.parameters:::log_statement
dict:::postgresql.parameters:::log_min_error_statement
dict:::postgresql.parameters:::password_policy.allow_hashed_password
dict:::postgresql.parameters:::password_policies_enable
dict:::postgresql.parameters:::psql_encrypt_password
dict:::postgresql.parameters:::archive_command
dict:::postgresql.parameters:::pg_plugins_path
dict:::postgresql.parameters:::log_directory
dict:::postgresql.parameters:::log_checkpoints
dict:::postgresql.parameters:::log_connections
dict:::postgresql.parameters:::log_disconnections  
dict:::postgresql.parameters:::listen_addresses
dict:::postgresql.parameters:::max_wal_size
dict:::postgresql.parameters:::max_wal_senders
dict:::postgresql.parameters:::max_replication_slots
{% if not is_patroni_exists %}
dict:::postgresql.parameters:::max_worker_processes
{% endif %}
dict:::postgresql.parameters:::pgaudit.log
dict:::postgresql.parameters:::cron.max_running_jobs
dict:::postgresql.parameters:::search_path
dict:::postgresql.parameters:::log_line_prefix
dict:::postgresql.parameters:::superuser_reserved_connections
dict:::postgresql.parameters:::monitoring_ldap_servers
dict:::postgresql.parameters:::enable_monitor_object_modification_date
dict:::postgresql.parameters:::object_modification_date_keep_interval
{% if pg_stat_kcache_is_enable %}
dict:::postgresql.parameters:::pg_stat_kcache.linux_hz
{% endif %}
dict:::postgresql.parameters:::relnblocks_enable
dict:::postgresql.parameters:::relnblocks_hash_max_size
dict:::postgresql.parameters:::relnblocks_hash_init_size
dict:::postgresql.parameters:::relnblocks_hash_max_db
dict:::postgresql.parameters:::relnblocks_hash_init_db
{% if performance_insights.is_enable %}
dict:::postgresql.parameters:::performance_insights.enable
dict:::postgresql.parameters:::performance_insights.masking
dict:::postgresql.parameters:::performance_insights.sampling_enable
dict:::postgresql.parameters:::performance_insights.sampling_period
dict:::postgresql.parameters:::performance_insights.num_samples_in_ram
dict:::postgresql.parameters:::performance_insights.num_samples_in_files
{% endif %}
{% if pg_profile.is_enable %}
dict:::postgresql.parameters:::pg_profile.topn
dict:::postgresql.parameters:::pg_profile.max_sample_age
dict:::postgresql.parameters:::pg_profile.track_sample_timings
{% endif %}
dict:::bootstrap.dcs.postgresql.parameters:::max_worker_processes
dict:::bootstrap.dcs.postgresql.parameters:::max_connections
dict:::bootstrap.dcs:::ttl
dict:::bootstrap.dcs:::retry_timeout
dict:::bootstrap.dcs:::synchronous_mode_strict
dict:::bootstrap.dcs:::synchronous_mode
dict:::etcd:::hosts
dict:::etcd:::password
dict:::restapi.authentication:::password
dict:::NONE:::hba_file
dict:::NONE:::ident_file

removed
dict:::etcd:::host
dict:::postgresql.authentication.replication:::password
dict:::postgresql.authentication.superuser:::password
dict:::postgresql.parameters:::max_wal_senders
dict:::postgresql.parameters:::max_replication_slots
dict:::postgresql.parameters:::wal_keep_segments