secrets:
  awx:
    awx_login: admin
    awx_password: password
    awx_superadmin_password: password
    email_notify_password: password
    email_notify_username: tuz_user
    machine_cred_ssh_key_data: |-
      -----BEGIN OPENSSH PRIVATE KEY-----
      b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAABlwAAAAdzc2gtcn
      NhAAAAAwEAAQAAAYEA1bbc8Mbxfl+A0n6lu8WMi97idxkGL455O6pc1f8LI0Z6NvNOF1WK
      lR1VJLw0eA6ctmiIdrhNmkX4lcvoCwbhDxGhxHko/xLL19QAjkYsoO+vJEYMnwZz2lqky6
      SVNNW9o1ftX5leWkKs0JzqtquhikQTFzX4jW2STWGsUoeH2wcP4A3gDgw8PVe66smbCSmY
      ck7Q1j6a1ivG0KYjJDUDG41W1BqQ9xpwZdurJf6o6tXjee48GNcUfAfKnm/TsBm+QyWE2X
      QYHK+0qNb31G5XPUGA4Ru2d8xXD2ychtDhJ7FzYgVZPnf6X7oDQBCJf8oBeQs8PDEmJBTh
      NYTV5C8XAZU3XfOuGJZQoFV7L5kdv1Jcpg8CS3bLmmTsJZ+IYHScOjAXtop6x0apudMgXF
      POkynzoUINP2jGoLpZV8eCktE6i/w8BKq42k4qd6TunhzdzdCFIBrBcZ24R6SbyQiaFA++
      D+4ZwdwwqvMexW50ixBjCqhWb9OOB4+AbhjwS6pzAAAFkLhzPhy4cz4cAAAAB3NzaC1yc2
      EAAAGBANW23PDG8X5fgNJ+pbvFjIve4ncZBi+OeTuqXNX/CyNGejbzThdVipUdVSS8NHgO
      nLZoiHa4TZpF+JXL6AsG4Q8RocR5KP8Sy9fUAI5GLKDvryRGDJ8Gc9papMuklTTVvaNX7V
      +ZXlpCrNCc6raroYpEExc1+I1tkk1hrFKHh9sHD+AN4A4MPD1XuurJmwkpmHJO0NY+mtYr
      xtCmIyQ1AxuNVtQakPcacGXbqyX+qOrV43nuPBjXFHwHyp5v07AZvkMlhNl0GByvtKjW99
      RuVz1BgOEbtnfMVw9snIbQ4Sexc2IFWT53+l+6A0AQiX/KAXkLPDwxJiQU4TWE1eQvFwGV
      N13zrhiWUKBVey+ZHb9SXKYPAkt2y5pk7CWfiGB0nDowF7aKesdGqbnTIFxTzpMp86FCDT
      9oxqC6WVfHgpLROov8PASquNpOKnek7p4c3c3QhSAawXGduEekm8kImhQPvg/uGcHcMKrz
      HsVudIsQYwqoVm/TjgePgG4Y8EuqcwAAAAMBAAEAAAGAFJ2pPojSbvBjiuqwriZmYm/DxN
      1jHV9PDpRmlDYgKuz3iSl7VQDpd2z28648GYC/WVFIKLuqsMEjM8ARyE6Hk16ODlfpvoFf
      rJhE3XSjhXrZmFQxj32d22h3ETX1Nr2Pp5wpx9kRov9fkFgyxCBWWvIqLUkFiw8Q1+oeJ2
      /viQ9rVp/AB1rizMATxeZg0Ed070HvH1u2sAZVDXeZWDrM6/F8eMV/SncAdLL2FZo1TUII
      yZBTt8m3ridKQnJjJ0+0P5a/Pupk5bug6tV0myYvh2mSGQB99q7NWUAKkcf84lmiS4hSos
      6jUHwIpxRkzCo5TTcA9jABTEInJ0m5zbVttnUf5lCAKU1f77Bl/bWbyZ2GvZ6bAJlsiYjH
      xtinfYx1QpyvcR2v9Er2US67dR3+Uy8MvCQkx7KDWCL7kPrmk2cxU0xm6y1xS/0K3+vFLC
      X912f/sinOSNV0iDgiu/m+fbgmSbmLVi/9F9BfS97Rx2l2j2CLK9TxypnJJzpmZhaBAAAA
      wHnwoyw5PsRyTzvN53Mj4ZLv/A3UasImB5khjBGbYLohiXsW33JsYSACU0hla9N+WvGcQ/
      DpEnlMwJ50ksrV5M65Y/XiTzW6D23Fm9akjTCEmd/hccdMzCL3WWeY6JXt1y2zJteFsY1A
      FBrqkOXQetgeSIAAGtKV5YKZDpDitPUXDuvnm61lYRXGmG2ZcEpDNImlAJp+2Nv/OTQ+ZS
      +CqvFrCRLz2b/xY4wP7qFl9cLRcuk2oXkt4SRDLyA1fTzs6AAAAMEA/t0HvRe7WzG73R6T
      gVH67j0/lqf6u5u50YuvYxV2OUCcLVpaPwBP8tA17TPIwxex1YTC37oVBwBhVmTUD6sAtw
      5gSqeueL2tB4SG5aTfz8UGi6inet5SPtc0qaDR+L+SOmUZEq3VzHKt3CpQildl8jgopZB2
      4cueR9wLV+WCPtMQjtG6ZM57a7VxOb1h5hvlhnaWjQqoMmhq5DP8pzJm0Wd7ZYl5hAsOjE
      dLVIyOc8OKLfrQrk4lTbP9lLtFnBOTAAAAwQDWqtqqGkjT75IBKBh/Df+YQ+5BhQaFAbix
      tvt7QarRBYG3mVWG/Pcn25VRCclhTULI2RLdRr0J09COq1d00gUgYSqtPKw3OtN/iOOFK/
      s73qIFxkyX4y3WwzIx39fDd7L5zVdUNLcKa+QMwFplKWEMmgGZ6CKkQ2G9ml5cRSW7V3aV
      MJJTJqXY6zblCR1yJVVbcUrkoxJrCGFTDbKlQmFIYaOxchuYd/7mAH5QUik4SueRULBrwE
      1KMYeBWeAeGaEAAAAYMTkzNzY2NzdAU0JULVdTTi0wMDAzNDk0AQID
      -----END OPENSSH PRIVATE KEY-----
    machine_cred_username: user
    scm_ssh_key_data: |-
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAsPVwSn8OixuQ8paLOCyY6WvBox5Rhqn5ZmiqQ9l/XOgt7Jkp
      +SYm/j7qk0Lz7J6TQUI8ZggZWycjs7yAnyba1MWMV9o5syLyYUx985A3V9oQIQq2
      ucnXI3MbwzXfAMeAR2IpKdqOk0BFIYGwey+ym02bj2aMo89Oe8zHBTIMeFDvMoff
      NYZ+jCYARfZX4mE4SHLZ0Hcp4TRtucRcO7t5eRu0sqGIoUecBoI4WRaETfI7Beax
      9n/FW5DVi1NMyQ8qKEKK4UjtwPiFrLmAJRzFP4uVTdoEPNjiI8tGvgYefJCVvZuV
      h3xRCuHhdOIfQngxpapK545VIEl4W2MChmvt9wIDAQABAoIBAF5haZSyE4WqHDLm
      jDZXwu6sJEjlwMG8ImK2bCln9YAN7YCFaFeUO7Paxq3oRcTsBsoFk8UviKaPR4Fz
      hn5b8NcOzf2FTMT4XKH8dCjVwE7A5V1aI38P4gjsOeBx+RCnVwm7lwzVnrl2y+hF
      DWWGWRJv4AopvdUYmll5LKTevrvkOsSlVwf4LycL/sx1Y3tlMgZj5oVUePDtpVF5
      2C695Kr0ahs8PCg7D2SSu6s10VUFdrS0r1sv3iaZ+Bt6GIFqJHhCv4eHfwWIw1fm
      oSoV1CgDoq281CGd+5QvhcQAhknkFLntGsITYtJw6dsJKSbKk2lTVwoP84Oac5dZ
      /GyexzECgYEA6c2DGMTN3d/VzHgHJLkFjWaOCAwpE4L4A3gx5vLRjqBtfsF1isnV
      fdMrEEg58jzoFLTsqdIccagKrxIjaHGW8EnU58rek5aKiI8g8U2OWhC27GkTz+Dr
      9aimNqhlc1EQtYFuZKcWIMw4YjkL6SzvdMe8XdSSdY9rqQfVRlPRaqMCgYEAwcJa
      kd/Up8Styda4wRudC4Rh9rbZ3pu1Z35/n6CcFUoidnQisdSjnZ/owQxTFQbPRHXV
      xypTd90BetHRzyKdlC8zvFpfsv9LGxhHandbVwdXeXB1oLhs91z2Um2ObhIgdJpR
      vzNoRsn+fwOvKKcEr6fBmV3A9n40kyeRwBMs2J0CgYBiq3KqH1RqUK6f7f/FxbfM
      Jv3F86vaKimU/ULCHrPFp3rORcLfYbKRuW6xHmomCwI+yuQd/yg15x8rJ1J+H4H9
      worxj7JDQwMQAqd6bqqm4+ru9qF/14J9WEFdS9AUzJ9qmkcGf2VdThJ1kXGvZGFi
      PXEHgFCXAIIFAeNGHNWCVQKBgQDAc9JQCDoKNaHE1EEIlevkD6baTf6TTKffV1de
      b0H5J3yZmXsIlUO6gaXHcf1n6i6fOkePnqvvZ5ZbruKt0h0gnc3ObRmXClpIXFI7
      Hrib9c/d8GT1sZmSDUUg1G7fR6PzDYDa4C3X+jSNZlRplZNjAcabFfNfIjYIYAo1
      9RXbRQKBgD9Jrd76rkgpHTQ8eBlzkhZUPoUEommvQHu11GTuOVudRPxQq8VfEWgv
      uhjgsJCZepS2ex9/qts0nLS4bomeL/Jk6xrPNYXyCoZpUevBP7qtS9Pc/VgWw83C
      s9FRU9JgGzdZkc/JEtcOPTvq0xMbuNbACQ0ga1r3WJH/8XKhpuT0
      -----END RSA PRIVATE KEY-----
    stand_admin_password: password
  guest_properties_common:
    rootpassword: password
  kafka:
    kafka_default_password: password
  nexus:
    pass: password
    user: tuz_user
  nginx:
    nginx_os_user_pwd: password
  os:
    oseImagePullPasswordFromSecret: password
    oseImagePullUserFromSecret: tuz_user
    password: password
    username: user
  postgres:
    auditor_scram_pass: password
    ldap_bind_tuz_password: password
    monitoring_php_scram_pass: password
    patroni_yml_pass: password
    pgbouncer_scram_password: password
    postgres_db_scram_pass: password
    postgres_linux_pass: password
    zabbix_oasubd_scram_pass: password
  ssh:
    key_pub: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDVttzwxvF+X4DSfqW7xYyL3uJ3GQYvjnk7qlzV/wsjRno2804XVYqVHVUkvDR4Dpy2aIh2uE2aRfiVy+gLBuEPEaHEeSj/EsvX1ACORiyg768kRgyfBnPaWqTLpJU01b2jV+1fmV5aQqzQnOq2q6GKRBMXNfiNbZJNYaxSh4fbBw/gDeAODDw9V7rqyZsJKZhyTtDWPprWK8bQpiMkNQMbjVbUGpD3GnBl26sl/qjq1eN57jwY1xR8B8qeb9OwGb5DJYTZdBgcr7So1vfUblc9QYDhG7Z3zFcPbJyG0OEnsXNiBVk+d/pfugNAEIl/ygF5Czw8MSYkFOE1hNXkLxcBlTdd864YllCgVXsvmR2/UlymDwJLdsuaZOwln4hgdJw6MBe2inrHRqm50yBcU86TKfOhQg0/aMagullXx4KS0TqL/DwEqrjaTip3pO6eHN3N0IUgGsFxnbhHpJvJCJoUD74P7hnB3DCq8x7FbnSLEGMKqFZv044Hj4BuGPBLqnM=
      19376677@SBT-WSN-0003494
    key_rsa: |-
      -----BEGIN OPENSSH PRIVATE KEY-----
      b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAABlwAAAAdzc2gtcn
      NhAAAAAwEAAQAAAYEA1bbc8Mbxfl+A0n6lu8WMi97idxkGL455O6pc1f8LI0Z6NvNOF1WK
      lR1VJLw0eA6ctmiIdrhNmkX4lcvoCwbhDxGhxHko/xLL19QAjkYsoO+vJEYMnwZz2lqky6
      SVNNW9o1ftX5leWkKs0JzqtquhikQTFzX4jW2STWGsUoeH2wcP4A3gDgw8PVe66smbCSmY
      ck7Q1j6a1ivG0KYjJDUDG41W1BqQ9xpwZdurJf6o6tXjee48GNcUfAfKnm/TsBm+QyWE2X
      QYHK+0qNb31G5XPUGA4Ru2d8xXD2ychtDhJ7FzYgVZPnf6X7oDQBCJf8oBeQs8PDEmJBTh
      NYTV5C8XAZU3XfOuGJZQoFV7L5kdv1Jcpg8CS3bLmmTsJZ+IYHScOjAXtop6x0apudMgXF
      POkynzoUINP2jGoLpZV8eCktE6i/w8BKq42k4qd6TunhzdzdCFIBrBcZ24R6SbyQiaFA++
      D+4ZwdwwqvMexW50ixBjCqhWb9OOB4+AbhjwS6pzAAAFkLhzPhy4cz4cAAAAB3NzaC1yc2
      EAAAGBANW23PDG8X5fgNJ+pbvFjIve4ncZBi+OeTuqXNX/CyNGejbzThdVipUdVSS8NHgO
      nLZoiHa4TZpF+JXL6AsG4Q8RocR5KP8Sy9fUAI5GLKDvryRGDJ8Gc9papMuklTTVvaNX7V
      +ZXlpCrNCc6raroYpEExc1+I1tkk1hrFKHh9sHD+AN4A4MPD1XuurJmwkpmHJO0NY+mtYr
      xtCmIyQ1AxuNVtQakPcacGXbqyX+qOrV43nuPBjXFHwHyp5v07AZvkMlhNl0GByvtKjW99
      RuVz1BgOEbtnfMVw9snIbQ4Sexc2IFWT53+l+6A0AQiX/KAXkLPDwxJiQU4TWE1eQvFwGV
      N13zrhiWUKBVey+ZHb9SXKYPAkt2y5pk7CWfiGB0nDowF7aKesdGqbnTIFxTzpMp86FCDT
      9oxqC6WVfHgpLROov8PASquNpOKnek7p4c3c3QhSAawXGduEekm8kImhQPvg/uGcHcMKrz
      HsVudIsQYwqoVm/TjgePgG4Y8EuqcwAAAAMBAAEAAAGAFJ2pPojSbvBjiuqwriZmYm/DxN
      1jHV9PDpRmlDYgKuz3iSl7VQDpd2z28648GYC/WVFIKLuqsMEjM8ARyE6Hk16ODlfpvoFf
      rJhE3XSjhXrZmFQxj32d22h3ETX1Nr2Pp5wpx9kRov9fkFgyxCBWWvIqLUkFiw8Q1+oeJ2
      /viQ9rVp/AB1rizMATxeZg0Ed070HvH1u2sAZVDXeZWDrM6/F8eMV/SncAdLL2FZo1TUII
      yZBTt8m3ridKQnJjJ0+0P5a/Pupk5bug6tV0myYvh2mSGQB99q7NWUAKkcf84lmiS4hSos
      6jUHwIpxRkzCo5TTcA9jABTEInJ0m5zbVttnUf5lCAKU1f77Bl/bWbyZ2GvZ6bAJlsiYjH
      xtinfYx1QpyvcR2v9Er2US67dR3+Uy8MvCQkx7KDWCL7kPrmk2cxU0xm6y1xS/0K3+vFLC
      X912f/sinOSNV0iDgiu/m+fbgmSbmLVi/9F9BfS97Rx2l2j2CLK9TxypnJJzpmZhaBAAAA
      wHnwoyw5PsRyTzvN53Mj4ZLv/A3UasImB5khjBGbYLohiXsW33JsYSACU0hla9N+WvGcQ/
      DpEnlMwJ50ksrV5M65Y/XiTzW6D23Fm9akjTCEmd/hccdMzCL3WWeY6JXt1y2zJteFsY1A
      FBrqkOXQetgeSIAAGtKV5YKZDpDitPUXDuvnm61lYRXGmG2ZcEpDNImlAJp+2Nv/OTQ+ZS
      +CqvFrCRLz2b/xY4wP7qFl9cLRcuk2oXkt4SRDLyA1fTzs6AAAAMEA/t0HvRe7WzG73R6T
      gVH67j0/lqf6u5u50YuvYxV2OUCcLVpaPwBP8tA17TPIwxex1YTC37oVBwBhVmTUD6sAtw
      5gSqeueL2tB4SG5aTfz8UGi6inet5SPtc0qaDR+L+SOmUZEq3VzHKt3CpQildl8jgopZB2
      4cueR9wLV+WCPtMQjtG6ZM57a7VxOb1h5hvlhnaWjQqoMmhq5DP8pzJm0Wd7ZYl5hAsOjE
      dLVIyOc8OKLfrQrk4lTbP9lLtFnBOTAAAAwQDWqtqqGkjT75IBKBh/Df+YQ+5BhQaFAbix
      tvt7QarRBYG3mVWG/Pcn25VRCclhTULI2RLdRr0J09COq1d00gUgYSqtPKw3OtN/iOOFK/
      s73qIFxkyX4y3WwzIx39fDd7L5zVdUNLcKa+QMwFplKWEMmgGZ6CKkQ2G9ml5cRSW7V3aV
      MJJTJqXY6zblCR1yJVVbcUrkoxJrCGFTDbKlQmFIYaOxchuYd/7mAH5QUik4SueRULBrwE
      1KMYeBWeAeGaEAAAAYMTkzNzY2NzdAU0JULVdTTi0wMDAzNDk0AQID
      -----END OPENSSH PRIVATE KEY-----
    root: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCyxvySHKCFtbOoFlxNT3TuiTmHEJbgDZPVFc5SAEtp/W0tSohNmHmFkcNA/HLjOiSIO9tx5duBZP6vJAmlMssBuadH3CFAFNq1HluT1NQtaNbcticeWF+R66nypExLTCSpCf6ssAR+AbggBYPaR57TUTiw9MhRO9z80KRfTSjngcEMF5UnMSp8d/R2/YSgfeHwVTINubV7cnlb2cgwMIN6uHPbAfUvCrQhhUMWWkxSI+aCQ1Ef71uLHZQBDRrWeu5EKTShGMgPWiWqRO0GTkFjTT+5DGS5kt6AzV6bk8r5QkYoaRneOg5nSGAcEBqkmagGGN42jvL1/VONwiqmzoKTUl9JVOUIR43RtKe2RqvDfeUhy8hivoPR8WyroN0h8K9LrZG57xHTzZlA758q9TVo7W0ZWjAvZ8MHhp8Z88XXoRMPDQDEQa7+BJf4Fhva205tQnVDg/813u4JeRcO0ROlDD1rt4XZ1vZYTMMT6lzm9KKkxbbVKnZ2pdBnaEtluJU=
    user: ''
  vcd:
    vcd_password: password
    vcd_username: tuz_user
