#!/bin/sh
#
# Time of day
# HOUR=$(date +"%H")
# if [ $HOUR -lt 12  -a $HOUR -ge 0 ]; then TIME="morning"
# elif [ $HOUR -lt 17 -a $HOUR -ge 12 ]; then TIME="afternoon"
# else TIME="evening"
# fi
#
# System uptime
# uptime=`cat /proc/uptime | cut -f1 -d.`
# upDays=$((uptime/60/60/24))
# upHours=$((uptime/60/60%24))
# upMins=$((uptime/60%60))
#
# System + Memory
# SYS_LOADS=`cat /proc/loadavg | awk '{print $1}'`
# MEMORY_USED=`free -b | grep Mem | awk '{print $3/$2 * 100.0}'`
# SWAP_USED=`free -b | grep Swap | awk '{print $3/$2 * 100.0}'`
# NUM_PROCS=`ps aux | wc -l`
IPADDRESS=`hostname -i`
#
#PostgreSQL SE Information
LEADER=`curl -s http://{{ hostvars['master'].ansible_fqdn }}:8008/cluster | jq -r '.members[] | select(.role == "leader") | .name'`
REPLICA=`curl -s http://{{ hostvars['master'].ansible_fqdn }}:8008/cluster | jq -r '.members[] | select(.role != "leader") | .name'`
#
echo -e $tcDkG "==============================================================="
echo -e $tcLtG " You are connected to PostgreSQL SE Cluster ({{ clustername }})"
echo -e $tcLtG " - Hostname             :$tcW `hostname -f`"
echo -e $tcLtG " - IP Address           : $IPADDRESS"
echo -e $tcDkG "---------------------------------------------------------------"
{% if installation_type == 'standalone' %}
echo -e $tcLtG " - node ( master )      :$tcW `hostname -f` "
{% endif %}
{% if installation_type == 'cluster' %}
echo -e $tcLtG " - node ( master )      : $LEADER "
echo -e $tcLtG " - node ( replica )     : $REPLICA "
echo -e $tcLtG " - arbiter              : {{ hostvars['etcd'].ansible_fqdn }} "
{% endif %}
{% if "patroni" in tag %}
echo -e $tcLtG " - Patroni version      : {{ lookup('file', '{{ local_distr_path }}/patroni/se_version') }}"
{% endif %}
echo -e $tcLtG " - PostgreSQL SE version: {{ postgresql_package_file.split('-').3 }}"
echo -e $tcDkG "==============================================================="
echo -e $tcRESET ""
#