REVOKE ALL ON FUNCTION pg_catalog.alpha_numeric FROM public;
REVOKE ALL ON FUNCTION pg_catalog.alpha_numeric FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.alpha_numeric TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.audit_ddl_command_end FROM public;
REVOKE ALL ON FUNCTION pg_catalog.audit_ddl_command_end FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.audit_ddl_command_end TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.audit_sql_drop FROM public;
REVOKE ALL ON FUNCTION pg_catalog.audit_sql_drop FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.audit_sql_drop TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.auth_reset_context FROM public;
REVOKE ALL ON FUNCTION pg_catalog.auth_reset_context FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.auth_reset_context TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.check_admin_protect_is_on FROM public;
REVOKE ALL ON FUNCTION pg_catalog.check_admin_protect_is_on FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.check_admin_protect_is_on TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.check_auth_servers FROM public;
REVOKE ALL ON FUNCTION pg_catalog.check_auth_servers FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.check_auth_servers TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.check_extension_is_on FROM public;
REVOKE ALL ON FUNCTION pg_catalog.check_extension_is_on FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.check_extension_is_on TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.check_kms_is_on FROM public;
REVOKE ALL ON FUNCTION pg_catalog.check_kms_is_on FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.check_kms_is_on TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.check_ldap_is_on FROM public;
REVOKE ALL ON FUNCTION pg_catalog.check_ldap_is_on FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.check_ldap_is_on TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.check_password_policy_is_on FROM public;
REVOKE ALL ON FUNCTION pg_catalog.check_password_policy_is_on FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.check_password_policy_is_on TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.check_pg_audit_is_on FROM public;
REVOKE ALL ON FUNCTION pg_catalog.check_pg_audit_is_on FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.check_pg_audit_is_on TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.check_ssl_is_on FROM public;
REVOKE ALL ON FUNCTION pg_catalog.check_ssl_is_on FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.check_ssl_is_on TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.check_syntax FROM public;
REVOKE ALL ON FUNCTION pg_catalog.check_syntax FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.check_syntax TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.check_tde_is_on FROM public;
REVOKE ALL ON FUNCTION pg_catalog.check_tde_is_on FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.check_tde_is_on TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.custom_function FROM public;
REVOKE ALL ON FUNCTION pg_catalog.custom_function FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.custom_function TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.disable_policy FROM public;
REVOKE ALL ON FUNCTION pg_catalog.disable_policy FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.disable_policy TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.disable_policy_by_id FROM public;
REVOKE ALL ON FUNCTION pg_catalog.disable_policy_by_id FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.disable_policy_by_id TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.edhe_exchange_public_numbers FROM public;
REVOKE ALL ON FUNCTION pg_catalog.edhe_exchange_public_numbers FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.edhe_exchange_public_numbers TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.enable_policy FROM public;
REVOKE ALL ON FUNCTION pg_catalog.enable_policy FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.enable_policy TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.enable_policy_by_id FROM public;
REVOKE ALL ON FUNCTION pg_catalog.enable_policy_by_id FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.enable_policy_by_id TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.expire_warning FROM public;
REVOKE ALL ON FUNCTION pg_catalog.expire_warning FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.expire_warning TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.failure_count_interval FROM public;
REVOKE ALL ON FUNCTION pg_catalog.failure_count_interval FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.failure_count_interval TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.fc_interval FROM public;
REVOKE ALL ON FUNCTION pg_catalog.fc_interval FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.fc_interval TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.get_encryption_keys_count FROM public;
REVOKE ALL ON FUNCTION pg_catalog.get_encryption_keys_count FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.get_encryption_keys_count TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.get_password_policy_profile FROM public;
REVOKE ALL ON FUNCTION pg_catalog.get_password_policy_profile FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.get_password_policy_profile TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.grace_li FROM public;
REVOKE ALL ON FUNCTION pg_catalog.grace_li FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.grace_li TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.grace_login_limit FROM public;
REVOKE ALL ON FUNCTION pg_catalog.grace_login_limit FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.grace_login_limit TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.grace_login_time_limit FROM public;
REVOKE ALL ON FUNCTION pg_catalog.grace_login_time_limit FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.grace_login_time_limit TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.grace_lti FROM public;
REVOKE ALL ON FUNCTION pg_catalog.grace_lti FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.grace_lti TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.illegal_values FROM public;
REVOKE ALL ON FUNCTION pg_catalog.illegal_values FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.illegal_values TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.in_history FROM public;
REVOKE ALL ON FUNCTION pg_catalog.in_history FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.in_history TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.lduration FROM public;
REVOKE ALL ON FUNCTION pg_catalog.lduration FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.lduration TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.lockout FROM public;
REVOKE ALL ON FUNCTION pg_catalog.lockout FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.lockout TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.lockout_duration FROM public;
REVOKE ALL ON FUNCTION pg_catalog.lockout_duration FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.lockout_duration TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.max_age FROM public;
REVOKE ALL ON FUNCTION pg_catalog.max_age FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.max_age TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.max_failure FROM public;
REVOKE ALL ON FUNCTION pg_catalog.max_failure FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.max_failure TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.max_inactivity FROM public;
REVOKE ALL ON FUNCTION pg_catalog.max_inactivity FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.max_inactivity TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.max_rpt_chars FROM public;
REVOKE ALL ON FUNCTION pg_catalog.max_rpt_chars FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.max_rpt_chars TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.min_age FROM public;
REVOKE ALL ON FUNCTION pg_catalog.min_age FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.min_age TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.min_alpha_chars FROM public;
REVOKE ALL ON FUNCTION pg_catalog.min_alpha_chars FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.min_alpha_chars TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.min_length FROM public;
REVOKE ALL ON FUNCTION pg_catalog.min_length FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.min_length TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.min_lowercase FROM public;
REVOKE ALL ON FUNCTION pg_catalog.min_lowercase FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.min_lowercase TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.min_special_chars FROM public;
REVOKE ALL ON FUNCTION pg_catalog.min_special_chars FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.min_special_chars TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.min_uppercase FROM public;
REVOKE ALL ON FUNCTION pg_catalog.min_uppercase FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.min_uppercase TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.password_strength_estimator_score FROM public;
REVOKE ALL ON FUNCTION pg_catalog.password_strength_estimator_score FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.password_strength_estimator_score TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.pg_hostname FROM public;
REVOKE ALL ON FUNCTION pg_catalog.pg_hostname FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.pg_hostname TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.policy_enable FROM public;
REVOKE ALL ON FUNCTION pg_catalog.policy_enable FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.policy_enable TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.pp_check_role FROM public;
REVOKE ALL ON FUNCTION pg_catalog.pp_check_role FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.pp_check_role TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.pp_check_role_all FROM public;
REVOKE ALL ON FUNCTION pg_catalog.pp_check_role_all FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.pp_check_role_all TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.pp_check_role_by_id FROM public;
REVOKE ALL ON FUNCTION pg_catalog.pp_check_role_by_id FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.pp_check_role_by_id TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.recognize_password_policy FROM public;
REVOKE ALL ON FUNCTION pg_catalog.recognize_password_policy FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.recognize_password_policy TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.recognize_password_policy_by_id FROM public;
REVOKE ALL ON FUNCTION pg_catalog.recognize_password_policy_by_id FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.recognize_password_policy_by_id TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.recognize_password_policy_detailed FROM public;
REVOKE ALL ON FUNCTION pg_catalog.recognize_password_policy_detailed FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.recognize_password_policy_detailed TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.recognize_password_policy_detailed_by_id FROM public;
REVOKE ALL ON FUNCTION pg_catalog.recognize_password_policy_detailed_by_id FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.recognize_password_policy_detailed_by_id TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.reuse_time FROM public;
REVOKE ALL ON FUNCTION pg_catalog.reuse_time FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.reuse_time TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.sber_version FROM public;
REVOKE ALL ON FUNCTION pg_catalog.sber_version FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.sber_version TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.select_all_password_policies FROM public;
REVOKE ALL ON FUNCTION pg_catalog.select_all_password_policies FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.select_all_password_policies TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.set_role_policies FROM public;
REVOKE ALL ON FUNCTION pg_catalog.set_role_policies FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.set_role_policies TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.set_role_policies_by_id FROM public;
REVOKE ALL ON FUNCTION pg_catalog.set_role_policies_by_id FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.set_role_policies_by_id TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.track_login FROM public;
REVOKE ALL ON FUNCTION pg_catalog.track_login FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.track_login TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.unblock_role FROM public;
REVOKE ALL ON FUNCTION pg_catalog.unblock_role FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.unblock_role TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.unblock_role_by_id FROM public;
REVOKE ALL ON FUNCTION pg_catalog.unblock_role_by_id FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.unblock_role_by_id TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.use_password_strength_estimator FROM public;
REVOKE ALL ON FUNCTION pg_catalog.use_password_strength_estimator FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.use_password_strength_estimator TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.use_zxcvbn FROM public;
REVOKE ALL ON FUNCTION pg_catalog.use_zxcvbn FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.use_zxcvbn TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.zxcvbn_score FROM public;
REVOKE ALL ON FUNCTION pg_catalog.zxcvbn_score FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.zxcvbn_score TO "{{ as_group }}";
REVOKE ALL ON FUNCTION pg_catalog.add_auth_record_to_storage FROM public;
REVOKE ALL ON FUNCTION pg_catalog.add_auth_record_to_storage FROM "{{ TUZ_group }}";
GRANT EXECUTE ON FUNCTION pg_catalog.add_auth_record_to_storage TO "{{ as_group }}";