- name: Ð¡reate user with scram
  block:

    - name: check exist user {{ username }}
      postgresql_query:
        port: "{{ ports.pg }}"
        query: SELECT pg_roles.rolname FROM pg_roles WHERE rolname='{{ username }}'
      register: is_user

    - name: disable password history, reuse, max_age and min_age for {{ username }}
      include_role:
        name: finally
        tasks_from: update_change_reuse_time
      vars:
        passwords_history: true
        database_user: "{{ username }}"
      when: is_user.rowcount|int != 0

    - name: create user {{ username }}
      postgresql_user:
        port: "{{ ports.pg }}"
        name: "{{ username }}"
        password: "{{ password }}"
      environment:
        PGOPTIONS: "-c password_encryption=scram-sha-256"
      no_log: "{{ nolog }}"

    - name: enable password history, reuse, max_age and min_age for {{ username }}
      include_role:
        name: finally
        tasks_from: update_change_reuse_time
      vars:
        passwords_history: false
        database_user: "{{ username }}"
      when: is_user.rowcount|int != 0

  environment:
    - PGHOST: "{{ ansible_fqdn }}"
    - PGSSLCERT: "{{ pg_certs.ssl_cert }}"
    - PGSSLKEY: "{{ pg_certs.ssl_key }}"
  become: true
  become_user: postgres
  when: inventory_hostname == 'master'